---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'

const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />
  <section>
    <div class="flex flex-col space-y-1.5 py-6">
      <h3 class="text-4xl leading-none font-mono font-bold text-primary">I'm <span class="underline">Julian Sy</span></h3>
      <p class="text-lg font-mono font-bold pl-12">
        <span class="text-secondary-foreground">&& an aspiring UX Engineer<br /></span>
        <span class="text-primary-foreground">&& studying UXD @ WGU<br /></span>
        <span class="text-foreground">&& a bay area native</span>
      </p>
    </div>
    <div class="pl-12 pt-0">
      <p class="mb-8">
        I'm a curious creative with a background in front-end dev and customer service dedicated to learning how different people think (and thinking about how to make things work for them)
      </p>
    </div>
  </section>
  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-mono">case studies</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
