---
import Link from '@/components/Link.astro'
import { buttonVariants } from '@/components/ui/button'
import { ICON_MAP } from '@/consts'
import type { SocialLink } from '@/types'
import { Icon } from 'astro-icon/components'

interface Props {
  links: SocialLink[]
}

const { links } = Astro.props
---

<ul class="flex flex-wrap flex-col gap-1 list-none ml-0 pl-0" role="list">
  {
    links.map(({ href, label }) => (
      <li class="pl-0">
        <Link
          href={href}
          aria-label={label}
          title={label}
          class={buttonVariants({ variant: 'ghost', size: 'sm' })}
          external
        >
          <Icon
            name={
              ICON_MAP[label as keyof typeof ICON_MAP] ||
              'lucide:message-circle-question'
            }
            class="size-4"
          />
          {label}
        </Link>
      </li>
    ))
  }
</ul>
