---
import Link from '@/components/Link.astro'
import { ICON_MAP } from '@/consts'
import type { SocialLink } from '@/types'
import { Icon } from 'astro-icon/components'
import {
  Table,
  TableHeader,
  TableHead,
  TableBody,
  TableCell,
  TableRow,
} from "@/components/ui/table"

interface Props {
  links: SocialLink[]
}

const { links } = Astro.props
---

<Table className="mt-0 mx-auto sm:mx-0">
  <TableHeader>
    <TableRow>
      <TableHead>
        <Icon
          name='lucide:heart-handshake'
          class="size-4 text-primary"
        />
      </TableHead>
      <TableHead colSpan={2} className="text-right text-primary text-lg font-mono">
        contact me
      </TableHead>
    </TableRow>
  </TableHeader>
  <TableBody>
    {
      links.map(({ href, label, user }) => (
        <TableRow>
          <TableCell>
            <Icon
              name={
                ICON_MAP[label as keyof typeof ICON_MAP] ||
                'lucide:message-circle-question'
              }
              class="size-4"
              aria-label={label}
              title={label}
            />
          </TableCell>
          <TableCell>{label}</TableCell>
          <TableCell className='text-right'>
            <Link
              href={href + user}
              underline
              external
            >
              {user}
            </Link>
          </TableCell>
        </TableRow>
      ))
    }
    <TableRow>
      <TableCell>
        <Icon
          name='lucide:phone'
          class="size-4"
          aria-label='phone'
          title='phone'
        />
      </TableCell>
      <TableCell>Phone</TableCell>
      <TableCell className='text-right'>
        <span class="text-foreground">
          +X (XXX) XXX-XXXX
        </span>
      </TableCell>
    </TableRow>
  </TableBody>
</Table>